li {
  list-style: none;
}
.MuiContainer-root {
  margin-top: 70px;
}
.btn_remove {
  margin-top: 15px;
  margin-bottom: 10px;
}
.btn_app  span{
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3px;
}
.link_app{
  color: white;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.02857em;
  margin-top: 3px;
  line-height: 1.75;
  font-size: 0.875rem;
}